<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Multiplikation</title>
    <meta name="description" content="Solve random multiplication assignments">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="manifest.json">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Optional theme -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/locale/da.js"></script>

</head>
<body>
<div class="container" ng-app="multiplicationApp" ng-controller="myCtrl as ctrl">
    <div class="col-sm-12 text-center">
        <h1>Multiplikation</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="card form-inline">
                <div class="card-body">
                    <div class="form-group form-group-sm mb-2" ng-class="ctrl.validationClass">
                        <label class="col-form-label col-form-label-sm mr-1" for="solution"> {{ctrl.problem}}
                            = </label>
                            <input type="number" class="form-control-sm" id="solution"
                                   ng-model="ctrl.proposedSolution" autocomplete="off">
                        <ng-show ng-show="ctrl.validationShow">
                            <span ng-show="ctrl.success" class="glyphicon glyphicon-ok form-control-feedback"
                                  aria-hidden="true"></span>
                            <span ng-show="ctrl.error" class="glyphicon glyphicon-remove form-control-feedback"
                                  aria-hidden="true"></span>
                        </ng-show>
                    </div>
                    <div>
                        <button id="ok" class="btn btn-default btn-sm" ng-disabled="ctrl.solved"
                                ng-class="ctrl.solved ? 'disabled' : ''" ng-click="ctrl.validate()">Ok
                        </button>
                        <button id="nyt-stykke" class="btn btn-primary btn-sm pull-right" ng-click="ctrl.newProblem()">
                            Ny opgave
                        </button>
                    </div>
                </div>
            </form>
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">
                        Resultater
                    </h5>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>Opgave</th>
                                <th>Løsning</th>
                                <th>Tid (s)</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="stat in ctrl.doneProblems">
                                <td>{{stat.problem}}</td>
                                <td>{{stat.proposedSolution}}</td>
                                <td>{{stat.time | number:2}}</td>
                                <td>
                                    <span ng-show="stat.correct" class="pull-right"
                                          style="color: #3c763d;" aria-hidden="true">
                                        <i class="fa fa-check fa-3" aria-hidden="true"></i>
                                    </span>
                                    <span ng-show="!stat.correct" class="pull-right"
                                          style="color: #a94442;" aria-hidden="true">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.getRegistration().then(function (registration) {
            "use strict";
            // if (!registration || !navigator.serviceWorker.controller) {
            if (!registration) {
                navigator.serviceWorker.register('service-worker.js')
                // navigator.serviceWorker.register('service-worker.js', {scope: '/'})
                    .then(function (reg) {
                        // registration worked
                        console.log('Registration succeeded. Scope is ' + reg.scope);
                        console.log('Reloading page');
                        window.location.reload();
                    }).catch(function (error) {
                    // registration failed
                    console.log('Registration failed with ' + error);
                });
            } else {
                console.log('DEBUG: client is under the control of service worker');
            }

        })
    }



    var app = angular.module('multiplicationApp', []);
    app.controller('myCtrl', function ($scope, focus) {
        var vm = this;
        vm.validationShow = false;
        vm.problem = null;
        vm.proposedSolution = null;
        vm.solution = null;
        vm.validationClass = "";
        vm.validationIconClass = "";
        vm.success = false;
        vm.error = false;
        vm.doneProblems = [];
        vm.solved = false;


        var startTime = null;
        var endTime = null;
        var status = null;


        function noSolution() {
            return !vm.proposedSolution;
        }

        vm.validate = function () {
            if (noSolution()) {
                return;
            }
            endTime = moment();
            var timeToSolve = moment.duration(endTime.diff(startTime)).asSeconds();

            status = {problem: vm.problem, proposedSolution: vm.proposedSolution, time: timeToSolve};
            vm.validationShow = true;
            if (vm.proposedSolution == vm.solution) {
                setSuccessValues();
            } else {
                setErrorValues();
            }
            vm.doneProblems.unshift(status);
            vm.solved = true;
            focus('nyt-stykke');
        };
        vm.newProblem = function () {
            var first = getRandomInt(0, 10);
            var second = getRandomInt(0, 10);
            vm.problem = "" + first + " * " + second;
            vm.solution = first * second;
            vm.proposedSolution = null;
            vm.solved = false;

            clearValidationIndicators();
            startTime = moment();
            focus('solution');
        };
        vm.newProblem();

        function clearValidationIndicators() {
            vm.validationShow = false;
            vm.validationClass = "";
            vm.success = false;
            vm.error = false;
        }

        function setSuccessValues() {
            vm.validationClass = "has-success has-feedback";
            vm.success = true;
            vm.error = false;
            status.correct = true;
        }

        function setErrorValues() {
            vm.validationClass = "has-error has-feedback";
            vm.error = true;
            vm.success = false;
            status.correct = false;
        }

        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min)) + min;
        }
    });
    app.factory('focus', function ($timeout, $window) {
        return function (id) {
            $timeout(function () {
                var element = $window.document.getElementById(id);
                if (element) {
                    element.focus();
                }

            });
        };
    });
</script>

</body>
</html>
